<h2>Create An Account</h2>
<form id="regForm" method="post" action="/users/signup"
		<lable>Account type</label>
		<select name="type">
			<option value="student">Student</option>
			<option value="instructor">Instructor</option>
		</select><br>
		<label>First Name: </label>
		<input type="text" name="first_name" value="{{first_name}}"><br>
		<label>Last Name: </label>
		<input type="text" name="last_name" value="{{last_name}}"><br>
		<label>Street Address: </label>
		<input type="text" name="street_address" value="{{street_address}}"><br>
		<label>City: </label>
		<input type="text" name="city" value="{{city}}"><br>
		<label>State: </label>
		<input type="text" name="state" value="{{state}}"><br>
		<label>Zip: </label>
		<input type="text" name="zip" value="{{zip}}"><br>
		<label>Email Address: </label>
		<input type="text" name="email" value="{{email}}"><br>
		<label>Username: </label>
		<input type="text" name="username" value="{{username}}"><br>
		<label>Password: </label>
		<input type="password" name="password" value="{{password}}"><br>
		<label>Confirm Password: </label>
		<input type="password" name="password2" value="{{password2}}"><br>
		<input type="submit" value="Signup">
</form>